{% extends "layout.html" %}

{% block content %}
<a href="/books">Back to all books</a>

<h1>{{book.title}}</h1>
<subtitle>by {{book.author}}<subtitle>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ullamcorper eget nulla facilisi
  etiam. Proin fermentum leo vel orci. Rhoncus est pellentesque elit ullamcorper
  dignissim cras tincidunt lobortis. Tempor orci eu lobortis elementum nibh
  tellus molestie. Venenatis urna cursus eget nunc scelerisque viverra. Nibh
  mauris cursus mattis molestie a iaculis. Ornare lectus sit amet est placerat
  in egestas. Netus et malesuada fames ac turpis egestas maecenas. Ultricies
  tristique nulla aliquet enim tortor at. Viverra nibh cras pulvinar mattis nunc
  sed blandit libero volutpat.
</p>

<button hx-confirm="Delete book?" hx-delete="/books/{{book.id}}">delete</button>

{% endblock %}
